# Archivos de Log
*.log

# Directorios de caché de Python
__pycache__/

# Entorno virtual de Python
.venv/

# Directorio de assets generados
assets/

# Archivos y directorios de compilación de Flet
/build/
/dist/
*.spec
